<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIP_Notifier.Accounts" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SIP_Notifier.Phone" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIP_Notifier.Accounts" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SIP_Notifier.Phone" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SIP_Notifier.Accounts>
            <setting name="AccountName" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value>Sipek SIP Notifier</value>
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Id" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="RegState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>3000</value>
            </setting>
        </SIP_Notifier.Accounts>
        <SIP_Notifier.Phone>
            <setting name="CFBFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFBNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFNRFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFNRNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFUFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFUNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DNDFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNull" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SIPPort" serializeAs="String">
                <value>5060</value>
            </setting>
        </SIP_Notifier.Phone>
    </userSettings>
    <applicationSettings>
        <SIP_Notifier.Accounts>
            <setting name="Index" serializeAs="String">
                <value>0</value>
            </setting>
        </SIP_Notifier.Accounts>
        <SIP_Notifier.Phone>
            <setting name="DefaultAccountIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </SIP_Notifier.Phone>
    </applicationSettings>
</configuration>